<span class="preform">
    {% for i in data.items %}
        {{ forloop.revcounter0 }}
    {% endfor %}
    |
    {% for i in data.items %}
        {{ forloop.revcounter }}
    {% endfor %}
    |
    {% for i in data.items %}
        {% filter trim %}
            {% if forloop.last %}
                Last: {{ i }}
            {% endif %}
        {% endfilter %}
    {% endfor %}
    |
    {% for key,value in data.nested %}
        {% filter trim %}
            {% for nums in value %}
                {% for i in nums %}
                    {% if forloop.parentloop.parentloop.last %}
                        Last:{{ key }} for:{{ i }} |
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfilter %}
    {% endfor %}
    |
    {% for key,value in data.nested %}
        {% filter trim %}
            {% for nums in value %}
                {% for i in nums %}
                    {% if forloop.parentloop.parentloop.first %}
                        First:{{ key }} for:{{ i }} |
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfilter %}
    {% endfor %}
</span>
