<span class="preform">
    walnut{{ data.single|pluralize }},
    birch{{ data.single|pluralize:"es" }},
    cherr{{ data.single|pluralize:"y,ies" }}
    |
    walnut{{ data.triple|pluralize }},
    birch{{ data.triple|pluralize:"es" }},
    cherr{{ data.triple|pluralize:"y,ies" }}
</span>
