<span class="preform">
    {% set regroup_by = 'name' %}
    {% regroup users|dictsort:regroup_by by age as sorted_users %}
    {% dictsort users regroup_by as tmp_users %}
    {% regroup tmp_users by age as sorted_users_age %}
    {% if sorted_users != sorted_users_age %}
        Regroup error!
    {% endif %}
    <ul>
        {% for user in sorted_users %}
            <li>
                {{ user['grouper'] }}
                 <ul>
                    {% for item in user['list'] %}
                         <li>
                            {{ forloop.counter }}-{{ forloop.revcounter }}-{{ forloop.revcounter0 }} ({{ forloop.parentloop.counter }}).
                            {{ item['name']|capfirst }}
                            (
                            {% if forloop.first %}
                                first
                            {% else %}
                                {% if forloop.last %}
                                    last
                                {% else %}
                                    inner
                                {% endif %}
                            {% endif %}
                            )
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</span>
